#main-title {
  float: left;
  font-family: 'Dancing Script';
  font-size: 35px;
  margin: 0;
}
button {
  padding: 10px 20px;
  border-radius: 5px;
  border-width: 1px;
  cursor: pointer;
}
button:hover {
  filter: hue-rotate(55deg);
}
#editb {
  background: linear-gradient(blue, darkblue);
  color: lightblue;
}
#editb:hover {
  filter: hue-rotate(25deg);
}
#first {
  font-weight: bold;
  font-size: large;
  margin-top: 10px;
}
#newb,
#addb,
.greenb {
  background: linear-gradient(green, darkgreen);
  color: lightgray;
}
p b {
  margin-left: 10px;
}
#tabled {
  background: #fffcea;
  padding: 30px 10px;
  border: 1px solid #e2ad6a;
  border-width: 1px 0px;
}
input[type='search'] {
  height: 35px;
  border-radius: 15px;
  padding: 0 13px;
}
table.dataTable.no-footer {
  border-bottom: 1px solid #e6c88c;
}
table.dataTable tbody tr {
  background-color: #ffffff;
}
table.dataTable.display tbody td {
  border-top: 1px solid #e0c4ad;
}
table.dataTable.display tbody tr.odd {
  background-color: #fffef6;
}
table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #fdf4d9;
}
table.dataTable.display tbody tr.even > .sorting_1,
table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #fdf4d9;
}
table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
  background-color: #e7dfbd;
}
table td:nth-child(1) {
  color: brown;
  font-family: sans-serif;
}
table td:nth-child(3) {
  text-align: center;
}
.hidden {
  display: none;
}
.hideme {
  position: absolute;
  width: calc(100% - 110px);
  height: 100%;
  background: rgb(0, 0, 0, 0.6);
  top: 0px;
  left: 0px;
  padding: 100px 50px;
  text-align: center;
  display: none;
}
.hideme .box {
  border-radius: 20px;
  padding: 30px;
  background: white;
  display: inline-block;
}
#new-entry {
  border: 1px solid lightgray;
  display: inline-block;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom right, #f0f8ff, #e6e6fa);
  border-radius: 15px;
  width: 50%;
  max-width: 400px;
  font-family: fantasy;
  transition: transform 0.3s ease;
}
#new-entry:hover {
  transform: scale(1.02);
}
#new-entry-title {
  font-family: cursive;
  font-size: larger;
}
.entry textarea {
  width: 100%;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #261b58;
  font-size: inherit;
  margin-top: 10px;
  box-sizing: border-box;
}
.box .col {
  width: 100px;
  text-align: center;
  display: inline-block;
}
.box .col textarea {
  margin-top: 10px;
}
.icon {
  font-size: 17px;
  cursor: pointer;
}

@media (max-width: 600px) {
  #new-entry {
    width: 80%;
  }
}
